@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Hakkinda Ekleme Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Hakkinda Aciklamasi</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <label>Hakkinda Adres</label>
                        <input type="text" class="form-control" asp-for="Address" />
                        <label>Hakkinda Mail</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <label>Hakkinda Telefon</label>
                        <input type="text" class="form-control" asp-for="Phone" />
                        <br />
                        <button class="btn btn-primary">Marka Ekle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


