@model UpdateProductImageDto

@{
    ViewData["Title"] = "ProductImageDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Urun Gorselleri Güncelleme Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="ProductImageID" />"
                        <input type="hidden" asp-for="ProductId" />"
                        <label>Gorsel 1</label>
                        <input type="text" class="form-control" asp-for="Image1" />
                        <label>Gorsel 2</label>
                        <input type="text" class="form-control" asp-for="Image2" />
                        <label>Gorsel 3</label>
                        <input type="text" class="form-control" asp-for="Image3" />
                        <label>Gorsel 4</label>
                        <input type="text" class="form-control" asp-for="Image4" />
                        <br />
                        <button class="btn btn-success">Urun Gorsellerini Güncelle</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>




